
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Noto Serif');

#header-row {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    
    min-height: 28px;
    
    color: white;
    background-color: black;
    
    display: flex;
    align-items: center;
    padding: 12px 10px;
    justify-content: space-between;
    z-index: 5000;
    
    ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
	word-wrap: break-word;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-weight: bold;
	
	li {
	    font-family: 'Helvetica Neue','Helvetica Neue Light',Helvetica,Arial,'Lucida Grande',sans-serif;
	    white-space: nowrap;
	    list-style: none;
	    margin-right: 50px;
	    animation-name: fade-in-and-out-animation;
	    animation-duration: 3s;
	}
    }
}

#center-frame {
    width: 92vw;
    padding-left: 2vw;
    padding-right: 2vw;
    
    #arxiv-title {
	font-size: 3rem;
	align-items: center;
	font-weight: bold;
	justify-content: space-evenly;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 5px;
	font-family: 'Libre Baskerville';
    }
    
    #title-divider {
	align-items: center;
	border: solid 1.5px black;
    }
    
    #research-field-row {
	width:100%;
	text-align:center;
	
	.move-research-field-left-link {
	    padding-top: 15px;
	    float:left;
	    font-size: 0.9rem;
	    justify-content: space-between;
            text-align: left;
	}
	
	.move-research-field-right-link {
	    padding-top: 15px;
	    float:right;
	    font-size: 0.9rem;
	    justify-content: space-between;
            text-align: right;
	}
	
	.currently-shown-research-field {
	    display: inline-block;
	    margin:0 auto;
	    font-weight: bold;
	    text-align: center;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-family: 'Libre Baskerville';
	}
    
    }
    
    #center-frame-column-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	.center-frame-column + .center-frame-column {
	    border-left: 1px solid rgba(0, 0, 0, 0.15);
	}
	    
	.center-frame-column {
	    padding-left: 15px;
	    padding-right: 15px;
	    flex-basis: 0;
	    flex-grow: 1;
	    display: flex;
	    flex-direction: column;
	    
	    .article + .article {
		border-top: 1px solid rgba(0, 0, 0, 0.15);
	    }

	    .article {
		text-align: left;
		padding-top: 0.5vw;
		padding-bottom: 1vw;
		flex-direction: column;
		
		.article-subjects {
		    padding-top: 5px;
		    color: black;
		    text-decoration: none;
		    font-size: 0.74rem;
		    color: #2d2d30;
		    font-weight: 800;
		}
		
		.article-abstract {
		    padding-top: 10px;
		    font-size: 0.85rem;
		    font-family: 'Noto Serif',sans-serif;
		}
		
		.article-author {
		    color: black;
		    text-decoration: none;
		    font-size: 0.74rem;
		    color: #2d2d30;
		    font-weight: 800;
		    
		    a {
			color: black;
			text-decoration: none;
			font-size: 0.74rem;
			color: #2d2d30;
			font-weight: 800;
		    }
		}
		
		.article-title {
		    
		    a {
			color: black;
			text-decoration: none;
			font-size: 1.7rem;
			font-weight: 800;
			font-style: italic;
			font-family: 'Lora','FranklinPro','FranklinITCProLight','Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic','Apple SD Gothic Neo','Myriad Set Pro','Helvetica Neue','Helvetica Neue Light',Helvetica,Arial,'Lucida Grande',serif;
		    }
		}
	    }
	}
    }
}

@keyframes fade-in-and-out-animation {
  0%   {opacity: 0.0;}
  20%  {opacity: 0.95;}
  50%  {opacity: 1.0;}
  80%  {opacity: 0.95;}
  100% {opacity: 0.0;}
}

