
#header-row {
    position: fixed;
    top:0px;
    right:0px;
    left:0px;
    height: 50px;

    min-height: 28px;

    color: white;
    background-color: black;
    
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    z-index: 5000;
    ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;
	line-height: 24px;
	font-size: 14px;
	word-wrap: break-word;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-weight: bold;
	
	li {
	    white-space: nowrap;
	    list-style: none;
	    margin-right: 50px;
	    animation-name: fade-in-and-out-animation;
	    animation-duration: 3s;
	}
    }
    
    .news-button {
	background-color: #1f1f1f;
	border: 0.5px solid #444;
	border-radius: 4px;
	padding: 6px 10px;
	margin: 2px;
	margin-right: 8px;
	color: white;
	min-width:18px;

	&:hover {
	    border-color: white;
	}

	&.search {
	    min-width: 200px;
	    color: black;
	    background-color: white;
	}
    }
}

.home-page-body-col {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
  
@keyframes fade-in-and-out-animation {
  0%   {opacity: 0.0;}
  20%  {opacity: 0.95;}
  50%  {opacity: 1.0;}
  80%  {opacity: 0.95;}
  100% {opacity: 0.0;}
}
